.movie {
  padding: 2em;

  &__description {
    padding-top: 2em;
    display: flex;

    .img {
      margin-right: 1em;
      flex: 0 auto;
    }

    .text {
      flex: 1;
    }
  }

  &__vote {
    margin-top: 0.5em;
    font: 2em/24px Tahoma;
  }
}